.bookingsPage {
  box-sizing: border-box;
  height: 100vh;
  padding-top: 60px;
  background-image: url("../assets/treatments-back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .bookedRoomsList {

  }
}
