* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 93vh;
}

.mySlides {
  width: 100%;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.dots {
  text-align: center;
  position: relative;
  top: -20px;
  opacity: 0.6;
}

.img-slide {
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: background 2s ease-in-out;
}

.slide01 {
  background-image: url("../assets/slide01.jpg");
}

.slide02 {
  background-image: url("../assets/slide02.jpg");
}

.slide03 {
  background-image: url("../assets/slide03.jpg");
}

.white-container {
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 184px;
  left: 60px;
  width: 540px;
  height: 80px;
}

.text-container {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 540px;
  height: 200px;
  padding: 8px;
  color: white;
  background-color: #403a35;
  opacity: 0.5;
  font-size: 40px;
  z-index: 2;

  .links {
    display: flex;
    flex-direction: column;
    font-size: 36px;

    span {

      a {
        text-decoration: none;
        color: white;

      }

      &:hover {
        cursor: pointer;
        background-color: #a7705e;
      }
    }
  }

}
